# CMSC320: Final Tutorial
### By: Gautham Hari, Evan Guo, Arjun Rajaram

1. [Introduction](#Introduction)
2. [Data Collection](#Data-Collection)
3. [Data Processing](#Data-Processing)
4. [Model: Analysis, Hypothesis Testing, & ML](#Model:-Analysis,-Hypothesis-Testing,-&-ML)
5. [Interpretation: Insight & Policy Decision](#Interpretation:-Insight-&-Policy-Decision)

## Introduction

Explanation 

Intro

## Data Collection

Description of section + prose

In [421]:
import pandas as pd
import numpy as np
import json

### Pulling Rotten Tomatoes and Box Office Prediction Datasets from Kaggle

In [422]:
rotten_tomatoes_data=pd.read_csv('data/rotten_tomatoes/rotten_tomatoes_movies.csv')
rotten_tomatoes_movies_df = pd.DataFrame(rotten_tomatoes_data)
rotten_tomatoes_movies_df.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,...,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,...,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,...,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,...,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,...,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,...,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3

In [423]:
box_office_data=pd.read_csv('data/tmdb-box-office-prediction/train.csv')
box_office_df = pd.DataFrame(box_office_data)
box_office_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [424]:
tmdb_additional_df = pd.read_csv("data/additional_train/additionalTrainData.csv")
tmdb_additional_df.head()

,title,budget,imdb_id,original_language,original_title,overview,popularity,release_date,runtime,tagline,rating,totalVotes,revenue
0,Vice,60000000,tt6266538,en,Vice,"George W. Bush picks Dick Cheney, the CEO of H...",75.120,25-12-2018,132.0,The Untold True Story That Changed The Course ...,7.2,511,45520237
1,Mary Queen of Scots,25000000,tt2328900,en,Mary Queen of Scots,"Mary Stuart, considered by many the legitimate...",96.340,21-12-2018,125.0,Bow To No One,6.7,182,37807625
2,Mary Poppins Returns,130000000,tt5028340,en,Mary Poppins Returns,"In Depression-era London, a now-grown Jane and...",91.674,19-12-2018,131.0,Magic Always Returns,6.8,824,320264753
3,They Shall Not Grow Old,0,tt7905466,en,They Shall Not Grow Old,A documentary about World War I with never-bef...,11.180,17-12-2018,99.0,NaN,8.1,66,9700000
4,Bumblebee,128000000,tt4701182,en,Bumblebee,"On the run in the year 1987, Bumblebee finds r...",116.519,15-12-2018,114.0,Every adventure has a beginning,6.4,1222,420361283

## Data Processing

In this section, we use the Pandas and NumPy libraries to clean and manipulate the dataframes. Provided below are links to the Pandas and NumPy documentation pages:

[Pandas Documentation](https://pandas.pydata.org/docs/index.html)

[NumPy Documentation](https://numpy.org/doc/stable/index.html#)

In [425]:
box_office_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [426]:
tmdb_additional_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2001 non-null   object
 1   budget             2001 non-null   int64
 2   imdb_id            1870 non-null   object
 3   original_language  2001 non-null   object
 4   original_title     2001 non-null   object
 5   overview           1894 non-null   object
 6   popularity         2001 non-null   float64
 7   release_date       2001 non-null   object
 8   runtime            1895 non-null   float64
 9   tagline            1024 non-null   object
 10  rating             2001 non-null   float64
 11  totalVotes         2001 non-null   int64
 12  revenue            2001 non-null   int64
dtypes: float64(3), int64(3), object(7)
memory usage: 203.4+ KB

Useless columns to drop: homepage, poster_path, status, belongs_to_collection (80% null)

(maybe also remove cast and crew if they don't really help)

In [427]:
box_office_df.drop(['homepage', 'poster_path', 'status', 'belongs_to_collection','id','original_title','cast','crew','tagline'], axis=1, inplace=True)
box_office_df = box_office_df[['title', 'revenue','original_language', 'popularity', 'budget','runtime','genres', 'production_companies','production_countries','spoken_languages']]

    # box_office_df.at[index]['production_companies']=json(row['production_companies'])
    # print(row[]

Talk about how there were multiple genres and multiple production companies, so we just chose the one that was most prominent.

In [428]:
lst=[]
for index, row in box_office_df.iterrows():
    if type(row['production_companies'])!=str or not row['production_companies']:
        lst.append(index)
    else:
        box_office_df.at[index,"production_companies"]=str(row['production_companies'][1:-1].split(',')[0].split(':')[1])

    if type(row['genres'])!=str or not row['genres']:
        lst.append(index)
    else:
        box_office_df.at[index,"genres"]=str(row['genres'][1:-1].split(',')[1].split(":")[1][:-1])

    if type(row['production_countries'])!=str or not row['production_countries']:
        lst.append(index)
    else:
        box_office_df.at[index,"production_countries"]=str(row['production_countries'][1:-1].split(',')[1].split(':')[1][:-1])

    
    # We can turn spoken languages into two columns: the spoken languages, and the number of spoken languages
    #  (can see if the number of spoken language increase its box office, and if so, what's the strongest language)

    # need to drop the columns whose budget is 0 

    # Replace original language with full name "English" instead of "en" (can do this with a dictionary of all the abbreviations)
    

    
box_office_df.drop(lst,inplace=True)

In [433]:
box_office_df
# box_office_df.info()

,title,revenue,original_language,popularity,budget,runtime,genres,production_companies,production_countries,spoken_languages
0,Hot Tub Time Machine 2,12314651,en,6.575393,14000000,93.0,'Comedy','Paramount Pictures','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
1,The Princess Diaries 2: Royal Engagement,95149435,en,8.248895,40000000,113.0,'Comedy','Walt Disney Pictures','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
2,Whiplash,13092000,en,64.299990,3300000,105.0,'Drama','Bold Films','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
6,The Possession,85446075,en,7.286477,14000000,92.0,'Horror','Ghost House Pictures','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
8,Muppet Treasure Island,34327391,en,6.902423,0,100.0,'Action','Walt Disney Pictures','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
...,...,...,...,...,...,...,...,...,...,...
2995,Chasers,1596687,en,9.853270,0,102.0,'Comedy','Warner Bros.','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
2996,We Are the Best!,180590,sv,3.727996,0,102.0,'Drama','Memfis Film','Denmark',"[{'iso_639_1': 'sv', 'name': 'svenska'}]"
2997,The Long Kiss Goodnight,89456761,en,14.482345,65000000,120.0,'Crime','New Line Cinema','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
2998,Along Came Polly,171963386,en,15.725542,42000000,90.0,'Comedy','Jersey Films','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"
2999,Abduction,82087155,en,10.512109,35000000,106.0,'Thriller','Lions Gate Films','United States of America',"[{'iso_639_1': 'en', 'name': 'English'}]"

Things to do:
- Cleaning: dropping useless columns, imputing null values, encoding, etc.
- adding rotten tomatoes score data as a feature for the tmdb dataset: maybe doing sql join on name or some other id like release date? (issue is that in the tmdb dataset there are movies that have same name)
- Scraping IMDB scores using the given id
- Optional: Merging additional tmdb training dataset with the tmdb dataset (would require having to use same columns as the additional dataframe because it only uses 13 of the 23 columns)

Key features in mind: 

- budget
- genres
- imbd score + rotten tomatoes score
- language
- popularity (figure out what this means/how it's calculated)
- runtime
- tagline sentiment maybe

Primary question: what's the most important predictor of revenue? How accurate is our revenue prediction (use metrics like MSE maybe)

## Exploratory Analysis & Data Visualization

In [430]:
# Code

## Model: Analysis, Hypothesis Testing, & ML

In [431]:
# Code

## Interpretation: Insight & Policy Decision

In [432]:
# Code