# CMSC320: Final Tutorial
### By: Gautham Hari, Evan Guo, Arjun Rajaram

1. [Introduction](#Introduction)
2. [Data Collection](#Data-Collection)
3. [Data Processing](#Data-Processing)
4. [Exploratory Analysis & Data Visualization](#exploratory-analysis--data-visualization) 
5. [Model: Analysis, Hypothesis Testing, & ML](#Model:-Analysis,-Hypothesis-Testing,-&-ML)
6. [Interpretation: Insight & Policy Decision](#Interpretation:-Insight-&-Policy-Decision)

make sure to shuffle data and maybe do a K-fold cross validation

## Introduction

Explanation 

Intro

## Data Collection

Description of section + prose

In [332]:
import pandas as pd
import numpy as np
import json
import datetime
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

### Pulling Rotten Tomatoes and Box Office Prediction Datasets from Kaggle

In [333]:
rotten_tomatoes_data=pd.read_csv('data/rotten_tomatoes/rotten_tomatoes_movies.csv')
rotten_tomatoes_movies_df = pd.DataFrame(rotten_tomatoes_data)
rotten_tomatoes_movies_df
#print(rotten_tomatoes_movies_df.columns)

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,content_rating,genres,directors,authors,actors,original_release_date,streaming_release_date,runtime,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,m/0814255,Percy Jackson & the Olympians: The Lightning T...,"Always trouble-prone, the life of teenager Per...",Though it may seem like just another Harry Pot...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2015-11-25,119.0,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,m/0878835,Please Give,Kate (Catherine Keener) and her husband Alex (...,Nicole Holofcener's newest might seem slight i...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2012-09-04,90.0,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,m/10,10,"A successful, middle-aged Hollywood songwriter...",Blake Edwards' bawdy comedy may not score a pe...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,2014-07-24,122.0,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),Following the closing arguments in a murder tr...,Sidney Lumet's feature debut is a superbly wri...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2017-01-13,95.0,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","In 1866, Professor Pierre M. Aronnax (Paul Luk...","One of Disney's finest live-action adventures,...",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2016-06-10,127.0,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,m/zoot_suit,Zoot Suit,Mexican-American gangster Henry Reyna (Daniel ...,NaN,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2016-04-19,104.0,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,m/zootopia,Zootopia,From the largest elephant to the smallest shre...,The brilliantly well-rounded Zootopia offers a...,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,m/zorba_the_greek,Zorba the Greek,Traveling to inspect an abandoned mine his fat...,NaN,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2015-11-25,142.0,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,m/zulu,Zulu,"In 1879, the Zulu nation hands colonial Britis...",Zulu patiently establishes a cast of colorful ...,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2017-01-08,135.0,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,m/zulu_dawn,Zulu Dawn,Sir Henry Bartle Frere's (John Mills) vastly o...,NaN,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2016-03-22,121.0,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [334]:
# box_office_data=pd.read_csv('data/tmdb-box-office-prediction/train.csv')
# box_office_df = pd.DataFrame(box_office_data)
# value_counts_result = box_office_df['revenue'].value_counts()
# value_counts_result
# o_bo_df = box_office_df
# print(box_office_df.columns)

In [335]:
tmdb_big_dataset=pd.read_csv('data/tmdb-box-office-prediction/TMDB_movie_dataset_v11.csv')
tmdb_big_dataset

# plt.scatter(tmdb_big_dataset['revenue'],tmdb_big_dataset['id'])

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,160000000,https://www.warnerbros.com/movies/inception,tt1375666,en,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,165000000,http://www.interstellarmovie.net/,tt0816692,en,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,185000000,https://www.warnerbros.com/movies/dark-knight/,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,237000000,https://www.avatar.com/movies/avatar,tt0499549,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,220000000,https://www.marvel.com/movies/the-avengers,tt0848228,en,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037053,683919,Ellsworth Kelly: Fragments,0.000,0,Released,2007-12-31,0,66,False,NaN,0,NaN,tt26680258,en,Ellsworth Kelly: Fragments,Cameras record artist Ellsworth Kelly as he cr...,0.600,/9RyKOGsaxStcajEN4tuWe15r1w7.jpg,NaN,Documentary,NaN,NaN,NaN,"artist, art"
1037054,683921,César,0.000,0,Released,1971-01-21,0,50,False,NaN,0,NaN,NaN,en,César,"In 1971, Jean-Daniel Pollet & Guy Seligmann di...",0.600,/qEbNDYQJrkH51jF0bZl6GOJxBDe.jpg,Documentary about French artist César Baldaccini,Documentary,NaN,France,French,"sculpture, sculptor, sculpting"
1037055,683922,Notes on Lying,0.000,0,Released,2010-06-23,0,0,False,/ejDohyGHwTqdfu72psJKbFEiI9Q.jpg,0,NaN,tt1934345,en,Notes on Lying,A cautionary tale of lying. A curious thing ha...,0.840,/pPhBv7cyuu4g7dYdBdEkcGB6NQh.jpg,NaN,Drama,Blackbird Studios,"Canada, United States of America",NaN,NaN
1037056,683923,Do Your Homework,0.000,0,Released,2017-03-21,0,75,True,NaN,0,NaN,NaN,en,Do Your Homework,She didn't want to do her homework but she was...,0.600,/sOaPqyL4op1btUxa5pg9i1kz3S2.jpg,NaN,NaN,Nubiles,United States of America,NaN,NaN
1037057,1289192,The Claw,0.000,0,Released,NaN,0,5,False,NaN,0,NaN,NaN,en,The Claw,A young shark goes to a casino with his father...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [336]:
tmdb_additional_df = pd.read_csv("data/additional_train/additionalTrainData.csv")

## Data Processing

In this section, we use the Pandas and NumPy libraries to clean and manipulate the dataframes. Provided below are links to the Pandas and NumPy documentation pages:

[Pandas Documentation](https://pandas.pydata.org/docs/index.html)

[NumPy Documentation](https://numpy.org/doc/stable/index.html#)

In [337]:
tmdb_additional_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2001 non-null   object
 1   budget             2001 non-null   int64
 2   imdb_id            1870 non-null   object
 3   original_language  2001 non-null   object
 4   original_title     2001 non-null   object
 5   overview           1894 non-null   object
 6   popularity         2001 non-null   float64
 7   release_date       2001 non-null   object
 8   runtime            1895 non-null   float64
 9   tagline            1024 non-null   object
 10  rating             2001 non-null   float64
 11  totalVotes         2001 non-null   int64
 12  revenue            2001 non-null   int64
dtypes: float64(3), int64(3), object(7)
memory usage: 203.4+ KB

In [338]:
rotten_tomatoes_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17712 entries, 0 to 17711
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rotten_tomatoes_link              17712 non-null  object
 1   movie_title                       17712 non-null  object
 2   movie_info                        17391 non-null  object
 3   critics_consensus                 9134 non-null   object
 4   content_rating                    17712 non-null  object
 5   genres                            17693 non-null  object
 6   directors                         17518 non-null  object
 7   authors                           16170 non-null  object
 8   actors                            17360 non-null  object
 9   original_release_date             16546 non-null  object
 10  streaming_release_date            17328 non-null  object
 11  runtime                           17398 non-null  float64
 12  production_company                17213 non-null  object
 13  tomatometer_status                17668 non-null  object
 14  tomatometer_rating                17668 non-null  float64
 15  tomatometer_count                 17668 non-null  float64
 16  audience_status                   17264 non-null  object
 17  audience_rating                   17416 non-null  float64
 18  audience_count                    17415 non-null  float64
 19  tomatometer_top_critics_count     17712 non-null  int64
 20  tomatometer_fresh_critics_count   17712 non-null  int64
 21  tomatometer_rotten_critics_count  17712 non-null  int64
dtypes: float64(5), int64(3), object(14)
memory usage: 3.0+ MB

Useless columns to drop: homepage, poster_path, status, belongs_to_collection (80% null)

(maybe also remove cast and crew if they don't really help)

In [339]:
# box_office_df.drop(['homepage', 'poster_path', 'status', 'belongs_to_collection','id','original_title','cast','crew','tagline'], axis=1, inplace=True)
# box_office_df = box_office_df[['title', 'revenue','original_language', 'popularity', 'budget','runtime','genres', 'production_companies','production_countries','spoken_languages', 'release_date']]

#     # box_office_df.at[index]['production_companies']=json(row['production_companies'])
#     # print(row[]
tmdb_big_dataset.drop(['id','status','overview', 'backdrop_path', 'homepage', 'imdb_id','id','original_title','poster_path','tagline','keywords'], axis=1, inplace=True)
tmdb_big_dataset

,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_language,popularity,genres,production_companies,production_countries,spoken_languages
0,Inception,8.364,34495,2010-07-15,825532764,148,False,160000000,en,83.952,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili"
1,Interstellar,8.417,32571,2014-11-05,701729206,169,False,165000000,en,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English
2,The Dark Knight,8.512,30619,2008-07-16,1004558444,152,False,185000000,en,130.643,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin"
3,Avatar,7.573,29815,2009-12-15,2923706026,162,False,237000000,en,79.932,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish"
4,The Avengers,7.710,29166,2012-04-25,1518815515,143,False,220000000,en,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037053,Ellsworth Kelly: Fragments,0.000,0,2007-12-31,0,66,False,0,en,0.600,Documentary,NaN,NaN,NaN
1037054,César,0.000,0,1971-01-21,0,50,False,0,en,0.600,Documentary,NaN,France,French
1037055,Notes on Lying,0.000,0,2010-06-23,0,0,False,0,en,0.840,Drama,Blackbird Studios,"Canada, United States of America",NaN
1037056,Do Your Homework,0.000,0,2017-03-21,0,75,True,0,en,0.600,NaN,Nubiles,United States of America,NaN
1037057,The Claw,0.000,0,NaN,0,5,False,0,en,0.000,NaN,NaN,NaN,NaN

In [340]:
rotten_tomatoes_movies_df.drop(['movie_info','rotten_tomatoes_link','critics_consensus'],axis=1,inplace=True)

Talk about how there were multiple genres and multiple production companies, so we just chose the one that was most prominent.

In [341]:
# lst=[]
# for index, row in box_office_df.iterrows():
#     if type(row['production_companies'])!=str or not row['production_companies']:
#         lst.append(index)
#     else:
#         box_office_df.at[index,"production_companies"]=str(row['production_companies'][1:-1].split(',')[0].split(':')[1])

#     if type(row['genres'])!=str or not row['genres']:
#         lst.append(index)
#     else:
#         box_office_df.at[index,"genres"]=str(row['genres'][1:-1].split(',')[1].split(":")[1][:-1])

#     if type(row['production_countries'])!=str or not row['production_countries']:
#         lst.append(index)
#     else:
#         box_office_df.at[index,"production_countries"]=str(row['production_countries'][1:-1].split(',')[1].split(':')[1][:-1])

#     # We can turn spoken languages into two columns: the spoken languages, and the number of spoken languages
#     #  (can see if the number of spoken language increase its box office, and if so, what's the strongest language)

#     # need to drop the columns whose budget is 0 

#     # Replace original language with full name "English" instead of "en" (can do this with a dictionary of all the abbreviations)
    

    
# box_office_df.drop(lst,inplace=True)


tmdb_big_dataset=tmdb_big_dataset[(tmdb_big_dataset['revenue']>=1000000) &(tmdb_big_dataset['budget']>=1000000) & (tmdb_big_dataset['genres']) & (tmdb_big_dataset['release_date']) & (tmdb_big_dataset['runtime']) & (tmdb_big_dataset['popularity']) & (tmdb_big_dataset['vote_average']>0) ]
# lst=[]
for index, row in tmdb_big_dataset.iterrows():
    datetime_object = datetime.datetime.strptime(str(row['release_date']), '%Y-%m-%d')
    tmdb_big_dataset.at[index,"release_date"]=datetime_object
    tmdb_big_dataset.at[index,"release_year"]=datetime_object.year
    # if type(row['production_companies'])!=str or not row['production_companies']:
    #     lst.append(index)
    # else:
    #     box_office_df.at[index,"production_companies"]=str(row['production_companies'][1:-1].split(',')[0].split(':')[1])

    # if type(row['genres'])!=str or not row['genres']:
    #     lst.append(index)
    # else:
    #     box_office_df.at[index,"genres"]=str(row['genres'][1:-1].split(',')[1].split(":")[1][:-1])

    # if type(row['production_countries'])!=str or not row['production_countries']:
    #     lst.append(index)
    # else:
    #     box_office_df.at[index,"production_countries"]=str(row['production_countries'][1:-1].split(',')[1].split(':')[1][:-1])

    # We can turn spoken languages into two columns: the spoken languages, and the number of spoken languages
    #  (can see if the number of spoken language increase its box office, and if so, what's the strongest language)

    # need to drop the columns whose budget is 0 

    # Replace original language with full name "English" instead of "en" (can do this with a dictionary of all the abbreviations)
    

    
# tmdb_big_dataset.drop(lst,inplace=True)
tmdb_big_dataset

C:\Users\gauth\AppData\Local\Temp\ipykernel_23880\3822207668.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_big_dataset.at[index,"release_year"]=datetime_object.year

,title,vote_average,vote_count,release_date,revenue,runtime,adult,budget,original_language,popularity,genres,production_companies,production_countries,spoken_languages,release_year
1,Interstellar,8.417,32571,2014-11-05 00:00:00,701729206,169,False,165000000,en,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,2014.0
4,The Avengers,7.710,29166,2012-04-25 00:00:00,1518815515,143,False,220000000,en,98.082,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian",2012.0
6,Avengers: Infinity War,8.255,27713,2018-04-25 00:00:00,2052415039,149,False,300000000,en,154.340,"Adventure, Action, Science Fiction",Marvel Studios,United States of America,"English, Xhosa",2018.0
7,Fight Club,8.438,27238,1999-10-15 00:00:00,100853753,139,False,63000000,en,69.498,Drama,"Regency Enterprises, Fox 2000 Pictures, Taurus...",United States of America,English,1999.0
8,Guardians of the Galaxy,7.906,26638,2014-07-30 00:00:00,772776600,121,False,170000000,en,33.255,"Action, Science Fiction, Adventure",Marvel Studios,United States of America,English,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230598,"Ay, Juancito",7.000,1,2004-06-10 00:00:00,17159458,109,False,2800000,es,0.668,Drama,Aries Cinematográfica Argentina,Argentina,Spanish,2004.0
272680,Kung Food,7.000,1,2018-08-17 00:00:00,1197984,99,False,20000000,zh,3.597,"Animation, Family","Beijing Culture, Yi Animation",South Korea,Mandarin,2018.0
281763,Mastaney,10.000,1,2023-08-25 00:00:00,16367572,145,False,2169000,pa,2.907,"Action, Drama, History","Vehli Janta Films, Omjee Star Studios, Fateh F...",India,Punjabi,2023.0
332657,Ah Girls Go Army,6.000,1,2022-02-01 00:00:00,1785000,121,False,1428000,en,7.974,"Comedy, Drama","J Team Productions, MM2 Entertainment",Singapore,"Mandarin, English",2022.0
345410,Palakadu,7.000,1,2022-03-18 00:00:00,25707800,155,False,7241634,te,0.600,"Drama, Comedy, Action",Sri Venkatesh Films,India,Telugu,2022.0

In [342]:
rotten_tomatoes_movies_df

,movie_title,content_rating,genres,directors,authors,actors,original_release_date,streaming_release_date,runtime,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,Percy Jackson & the Olympians: The Lightning T...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12,2015-11-25,119.0,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76
1,Please Give,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30,2012-09-04,90.0,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19
2,10,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05,2014-07-24,122.0,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8
3,12 Angry Men (Twelve Angry Men),NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13,2017-01-13,95.0,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0
4,"20,000 Leagues Under The Sea",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01,2016-06-10,127.0,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,Zoot Suit,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02,2016-04-19,104.0,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4
17708,Zootopia,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04,2016-06-07,108.0,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7
17709,Zorba the Greek,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17,2015-11-25,142.0,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2
17710,Zulu,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17,2017-01-08,135.0,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1
17711,Zulu Dawn,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14,2016-03-22,121.0,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4

In [343]:
box_office_df
# box_office_df.info()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,runtime,spoken_languages,status,tagline,movie_title,Keywords,cast,crew,revenue,release_year
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,/tQtWuwvMf0hCc2QR2tkolwl7c3c.jpg,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",2015-02-20 00:00:00,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,2015.0
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,/w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg,"[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2004-08-06 00:00:00,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,2004.0
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,/lIv1QinFqz4dlp5U4lQ6HaiskOZ.jpg,"[{'name': 'Bold Films', 'id': 2266}, {'name': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",2014-10-10 00:00:00,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,2014.0
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,/aTXRaPrWSinhcmCrcfJK17urp3F.jpg,NaN,"[{'iso_3166_1': 'IN', 'name': 'India'}]",2012-03-09 00:00:00,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,2012.0
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,/m22s7zvkVFDU9ir56PiiqIEWFdT.jpg,NaN,"[{'iso_3166_1': 'KR', 'name': 'South Korea'}]",2009-02-05 00:00:00,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,2009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,/j8Q7pQ27hvH54wpxJzIuQgQCdro.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1994-04-22 00:00:00,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687,1994.0
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,/sS01LSy6KDrCZAhtkO18UdnWFT1.jpg,"[{'name': 'Memfis Film', 'id': 321}, {'name': ...","[{'iso_3166_1': 'DK', 'name': 'Denmark'}, {'is...",2013-03-28 00:00:00,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590,2013.0
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,/4MENR8x6mYqnZvp2hGjSaPJz64J.jpg,"[{'name': 'New Line Cinema', 'id': 12}, {'name...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-10-11 00:00:00,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761,1996.0
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,/nIY4kvJTTnxoBR0wycrXng5MOYs.jpg,"[{'name': 'Jersey Films', 'id': 216}, {'name':...","[{'iso_3166_1': 'US', 'name': 'United States o...",2004-01-16 00:00:00,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386,2004.0
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,/cUT6NQP5LAJpmUoStGtXmvNt4zA.jpg,"[{'name': 'Lions Gate Films', 'id': 35}, {'nam...","[{'iso_3166_1': 'US', 'name': 'United States o...",2011-09-22 00:00:00,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155,2011.0

Things to do:
- Cleaning: dropping useless columns, imputing null values, encoding, etc.
- adding rotten tomatoes score data as a feature for the tmdb dataset: maybe doing sql join on name or some other id like release date? (issue is that in the tmdb dataset there are movies that have same name)
- Scraping IMDB scores using the given id
- Optional: Merging additional tmdb training dataset with the tmdb dataset (would require having to use same columns as the additional dataframe because it only uses 13 of the 23 columns)

Key features in mind: 

- budget
- genres
- imbd score + rotten tomatoes score
- language
- popularity (figure out what this means/how it's calculated)
- runtime
- tagline sentiment maybe

Primary question: what's the most important predictor of revenue? How accurate is our revenue prediction (use metrics like MSE maybe)

Create the URLs and pull the imdb scores

In [344]:
#Putting this on hold for now

import requests 
url_base = "https://www.imdb.com/title/"

#This should be Hot Tub Time Machine's ID

id_example = "tt1231587/"

In [345]:
# Basically just creating a datetime object and putting it into the columna and adding a column release_year with the year
# for index, row in box_office_df.iterrows():
#     date = row['release_date'].split('/')
#     box_office_df.at[index,"release_date"]=datetime.datetime(2000+int(date[2]) if int(date[2])<=24 else 1900+int(date[2]),int(date[0]),int(date[1]))
#     box_office_df.at[index,"release_year"]=2000+int(date[2]) if int(date[2])<=24 else 1900+int(date[2])

lst=[]

# Basically just creating a datetime object and putting it into the columna and adding a column release_year with the year
for index, row in rotten_tomatoes_movies_df.iterrows():
    if type(row['original_release_date'])!=str:
        lst.append(index)
    else:
        datetime_object = datetime.datetime.strptime(str(row['original_release_date']), '%Y-%m-%d')
        rotten_tomatoes_movies_df.at[index,"original_release_date"]=datetime_object
        rotten_tomatoes_movies_df.at[index,"release_year"]=datetime_object.year
rotten_tomatoes_movies_df.drop(lst)
rotten_tomatoes_movies_df



# pd.merge(rotten_tomatoes_movies_df,box_office_df,on=)

,movie_title,content_rating,genres,directors,authors,actors,original_release_date,streaming_release_date,runtime,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count,release_year
0,Percy Jackson & the Olympians: The Lightning T...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,"Craig Titley, Chris Columbus, Rick Riordan","Logan Lerman, Brandon T. Jackson, Alexandra Da...",2010-02-12 00:00:00,2015-11-25,119.0,20th Century Fox,Rotten,49.0,149.0,Spilled,53.0,254421.0,43,73,76,2010.0
1,Please Give,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",2010-04-30 00:00:00,2012-09-04,90.0,Sony Pictures Classics,Certified-Fresh,87.0,142.0,Upright,64.0,11574.0,44,123,19,2010.0
2,10,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",1979-10-05 00:00:00,2014-07-24,122.0,Waner Bros.,Fresh,67.0,24.0,Spilled,53.0,14684.0,2,16,8,1979.0
3,12 Angry Men (Twelve Angry Men),NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",1957-04-13 00:00:00,2017-01-13,95.0,Criterion Collection,Certified-Fresh,100.0,54.0,Upright,97.0,105386.0,6,54,0,1957.0
4,"20,000 Leagues Under The Sea",G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",1954-01-01 00:00:00,2016-06-10,127.0,Disney,Fresh,89.0,27.0,Upright,74.0,68918.0,5,24,3,1954.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17707,Zoot Suit,R,"Drama, Musical & Performing Arts",Luis Valdez,Luis Valdez,"Daniel Valdez, Edward James Olmos, Charles Aid...",1981-10-02 00:00:00,2016-04-19,104.0,MCA Universal Home Video,Rotten,56.0,9.0,Upright,74.0,1195.0,2,5,4,1981.0
17708,Zootopia,PG,"Action & Adventure, Animation, Comedy","Byron Howard, Rich Moore, Jared Bush","Jared Bush, Phil Johnston","J.K. Simmons, Kristen Bell, Octavia Spencer, A...",2016-03-04 00:00:00,2016-06-07,108.0,Walt Disney Animation Studios,Certified-Fresh,98.0,291.0,Upright,92.0,101511.0,50,285,7,2016.0
17709,Zorba the Greek,NR,"Action & Adventure, Art House & International,...",NaN,NaN,"Anthony Quinn, Alan Bates, Irene Papas, Lila K...",1964-12-17 00:00:00,2015-11-25,142.0,Fox,Fresh,80.0,10.0,Upright,86.0,7146.0,0,8,2,1964.0
17710,Zulu,PG,"Classics, Drama","Cy Endfield, Cyril Endfield","Cy Endfield, John Prebble","Stanley Baker, Jack Hawkins, Ulla Jacobsson, J...",1964-06-17 00:00:00,2017-01-08,135.0,Paramount Pictures,Fresh,96.0,23.0,Upright,91.0,30193.0,6,22,1,1964.0
17711,Zulu Dawn,PG,"Action & Adventure, Art House & International,...",Douglas Hickox,"Cy Endfield, Anthony Storey","Burt Lancaster, Peter O'Toole, Simon Ward, Joh...",1979-12-14 00:00:00,2016-03-22,121.0,Tango Entertainment,Rotten,50.0,8.0,Upright,62.0,4469.0,0,4,4,1979.0

In [346]:
tmdb_big_dataset.rename(columns={'title': 'movie_title'}, inplace=True)

C:\Users\gauth\AppData\Local\Temp\ipykernel_23880\2594626144.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_big_dataset.rename(columns={'title': 'movie_title'}, inplace=True)

In [347]:
movie_df=pd.merge(tmdb_big_dataset,rotten_tomatoes_movies_df,on=["movie_title","release_year"],how='inner')

In [348]:
pd.set_option('display.max_columns', None)
movie_df

,movie_title,vote_average,vote_count,release_date,revenue,runtime_x,adult,budget,original_language,popularity,genres_x,production_companies,production_countries,spoken_languages,release_year,content_rating,genres_y,directors,authors,actors,original_release_date,streaming_release_date,runtime_y,production_company,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,tomatometer_top_critics_count,tomatometer_fresh_critics_count,tomatometer_rotten_critics_count
0,Interstellar,8.417,32571,2014-11-05 00:00:00,701729206,169,False,165000000,en,140.241,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,2014.0,PG-13,"Action & Adventure, Science Fiction & Fantasy",Christopher Nolan,"Christopher Nolan, Jonathan Nolan","Matthew McConaughey, Anne Hathaway, Jessica Ch...",2014-11-07 00:00:00,2016-05-24,165.0,Paramount Pictures,Certified-Fresh,72.0,364.0,Upright,86.0,175957.0,62,263,101
1,Avengers: Infinity War,8.255,27713,2018-04-25 00:00:00,2052415039,149,False,300000000,en,154.340,"Adventure, Action, Science Fiction",Marvel Studios,United States of America,"English, Xhosa",2018.0,PG-13,"Action & Adventure, Science Fiction & Fantasy",Anthony Russo,"Christopher Markus, Stephen McFeely","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",2018-04-27 00:00:00,2018-07-31,149.0,Walt Disney Pictures,Certified-Fresh,85.0,472.0,Upright,91.0,58720.0,57,400,72
2,Fight Club,8.438,27238,1999-10-15 00:00:00,100853753,139,False,63000000,en,69.498,Drama,"Regency Enterprises, Fox 2000 Pictures, Taurus...",United States of America,English,1999.0,R,"Comedy, Drama",David Fincher,Jim Uhls,"Brad Pitt, Edward Norton, Helena Bonham Carter...",1999-10-15 00:00:00,2015-11-25,139.0,20th Century Fox,Certified-Fresh,79.0,173.0,Upright,96.0,1093242.0,40,137,36
3,Guardians of the Galaxy,7.906,26638,2014-07-30 00:00:00,772776600,121,False,170000000,en,33.255,"Action, Science Fiction, Adventure",Marvel Studios,United States of America,English,2014.0,PG-13,"Action & Adventure, Science Fiction & Fantasy",James Gunn (II),"James Gunn (II), James Gunn, Nicole Perlman, D...","Chris Pratt, Zoe Saldana, Dave Bautista, Lee P...",2014-08-01 00:00:00,2015-11-15,121.0,Walt Disney Pictures,Certified-Fresh,91.0,328.0,Upright,92.0,255582.0,59,300,28
4,Django Unchained,8.171,24672,2012-12-25 00:00:00,425368238,165,False,100000000,en,54.224,"Drama, Western","The Weinstein Company, Columbia Pictures",United States of America,"English, French, German",2012.0,R,"Drama, Western",Quentin Tarantino,Quentin Tarantino,"Jamie Foxx, Christoph Waltz, Leonardo DiCaprio...",2012-12-25 00:00:00,2017-03-24,165.0,The Weinstein Co.,Certified-Fresh,87.0,288.0,Upright,91.0,429231.0,55,250,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2320,The Sea of Grass,6.200,23,1947-04-25 00:00:00,4689000,123,False,2349000,en,3.541,"Drama, Western",Metro-Goldwyn-Mayer,United States of America,"English, Italian",1947.0,NR,"Classics, Drama, Western",Elia Kazan,"Marguerite Roberts, Vincent Lawrence","Spencer Tracy, Katharine Hepburn, Melvyn Dougl...",1947-04-25 00:00:00,2012-04-16,122.0,Warner Home Video,Rotten,14.0,7.0,Spilled,35.0,149.0,3,1,6
2321,Middle of Nowhere,6.196,23,2012-10-12 00:00:00,2368060,101,False,2000000,en,4.384,Drama,"Forward Movement, Kandoo Films",United States of America,English,2012.0,R,Drama,Ava DuVernay,Ava DuVernay,"Emayatzy E. Corinealdi, David Oyelowo, Omari H...",2012-10-12 00:00:00,2016-11-30,101.0,AFFRM,Certified-Fresh,88.0,50.0,Upright,64.0,2643.0,22,44,6
2322,Faithful,5.200,21,1996-04-03 00:00:00,2104439,91,False,13000000,en,4.889,"Comedy, Crime, Drama","New Line Cinema, Miramax",United States of America,English,1996.0,R,"Comedy, Drama",Paul Mazursky,Chazz Palminteri,"Cher, Chazz Palminteri, Ryan O'Neal, Paul Mazu...",1996-04-05 00:00:00,NaN,88.0,New Line Home Entertainment,Rotten,7.0,15.0,Spilled,49.0,1626.0,6,1,14
2323,Heartbeeps,3.912,17,1981-12-18 00:00:00,2154696,79,False,12000000,en,4.933,"Comedy, Romance, Family",Universal Pictures,United States of America,English,1981.0,PG,"Comedy, Science Fiction & Fantasy",Allan Arkush,John Hill,"Andy Kaufmann, Bernadette Peters, Andy Kaufman...",1981-12-18 00:00:00,2015-05-07,79.0,Universal Studios,Rotten,0.0,6.0,Spilled,23.0,1460.0,0,0,6
2324,Joshua,6.500,17,2002-04-19 00:00:00,1347988,91,False,9000000,en,3.550,Drama,"Crusader Entertainment, Epiphany Films LLC, Fe...","Italy, United States of America",English,2002.0,G,Drama,Jon Purdy,"Brad Mirman, Keith Giglio","Tony Goldwyn, F. Murray Abraham, Kurt Fuller, ...",2002-04-19 00:00:00,2016-11-30,90.0,Artisan Entertainment,Rotten,22.0,23.0,Upright,76.0,2888.0,4,5,18

## Exploratory Analysis & Data Visualization

After processing and cleaning our data, we can explore ann visualize our data to best get a feel for how it can be used to perform prediction on box office score.

The first thing we will do is graph box office scores against time to visualize how box office scores have not only changed with time, but also the range of box office scores that our dataset contains.

Some testing to see intersection

In [349]:
# namedate_rotten = set()
# namedate_imdb = set()

# name_rotten = set()
# name_imdb = set()


# nameprod_rotten = set()
# nameprod_imdb = set()

# for index, row in o_rt_df.iterrows():
#     title = row["movie_title"]
#     tp = str(title) + str(row["production_company"])

#     nameprod_rotten.add(tp)

#     name_rotten.add(title)
#     if title == "The Grass Is Greener":
#         print(row)
#     #year month day
#     date = str(row["original_release_date"]).split("-")
#     if len(date) == 3: 
#         # title+= date[1]
#         # title+=date[0]
#         title+=date[0][2:]
#         #print(date[2][2:])
#         namedate_rotten.add(title)




# for index, row in o_bo_df.iterrows():
#     title = row["title"]
#     if title == "The Grass Is Greener":
#         print(row)
    
#     tp = str(title) + str(row["production_companies"])
#     nameprod_imdb.add(tp)
#     name_imdb.add(title)
#     date = str(row["release_date"]).split("/")


#     # if int(date[0]) < 10:
#     #     date[0] = "0" + date[0]
#     # if int(date[1]) < 10:
#     #     date[1] = "0" + date[1]
#     # for i in date:
#     #     title += i

#     title += date[2]
#     namedate_imdb.add(title)

In [350]:
# print(len(namedate_rotten))
# print(len(namedate_imdb))

# print(namedate_rotten)
# print(namedate_imdb)
# intersect = namedate_rotten.intersection(namedate_imdb)
#Values formatted as Titleyy
# print(len(intersect))


# print(name_rotten.intersection(name_imdb))
# for i in namedate_rotten:
#     if "The Grass Is Greener" in i:
#         print(i)
    
# for i in namedate_imdb:
#     if "The Grass Is Greener" in i:
#         print(i)

# print(len(nameprod_imdb.intersection(nameprod_rotten)))

In [351]:
# Code

## Model: Analysis, Hypothesis Testing, & ML

In [352]:
# Code

## Interpretation: Insight & Policy Decision

In [353]:
# Code